p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6699CC;
	leading: 2px;
}

a {
	color: #0066FF;
	text-decoration: underline;
}

a:hover {
	color: #009966;
	text-decoration: none;
}

.title {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #99CCFF;
}

.subtitle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #99CCFF;
}

.highlight {
	color: #9966FF;
}

.note {
	color: #99CCFF;
}